{% load static %}
<html>
  <head>
    <title>My-Qr.art</title>
    <link rel="stylesheet" type="text/css" href="{% static 'qr_app/css/style.css' %}">
  </head>
  <body>
    <div class="welcome-page">
      <div class="welcome-text">
        <header>
          <title>my-qr.art</title>
          <img src="{% static 'qr_app/img/logo-text.png' %}"
               alt="MY-QR.ART Logo"
               class="logo"
               width="80%"/>
        </header>

        <main>
          <form action="/editor" method="GET">
            <input class="design-button" type="submit" value="DESIGN YOUR QR"></a>
          </form>

          <article class="explanation">

            <h1>What is it?</h1>

            <p>With <a href="https://my-qr.art">My-QR.art</a> you can make QR
            codes that look like <em>you</em> want them to
            look. <a href="https://my-qr.art">My-QR.art</a> uses a unique
            technique which allows you to change up to 80% of your QR code, when
            other solutions on the web only allow up to 30%. And you can still
            let your QR code go to any URL you want!</p>

            <p>By giving your QR code a recognisable design, you make your ad
            stand out and increase the chance that your QR code is scanned. For
            example you can make the QR code look like a black and white
            version of your logo. Or add a nice slogan in there!</p>

            <h1>How does it work?</h1>

            <p>Open the QR designer by pressing the big <em>Design your QR</em>
            button on the top of this page. There you can draw how you want the
            QR code to look, or simply upload any black and white image to set
            as the design. When you are done with your design, type in the URL
            for your QR code on the top of the page and press <em>Create
            QR</em>. The QR code will be generated for you in just a second and
            will work immediately!</p>

            <h1>But how is this possible?</h1>

            <p>If you want to know the nitty-gritty technical details, here we
            go. Basically instead of simply creating a QR code from your URL, we
            create data that fits your design and points
            to <a href="https://my-qr.art/">https://my-qr.art</a>. Then we
            redirect this <a href="https://my-qr.art/">https://my-qr.art</a> to
            the URL you specified. This way the QR has your design but still
            leads the user wherever you want. Making this possible was not
            without its challenges, QR codes are quite complex! If you want to
            know more about how it works internally, check
            out <a href="https://github.com/raatmarien/my-qr.art">the code on
            GitHub</a>.</p>

            <h1>Is it free?</h1>

            <p>Yes! <a href="https://my-qr.art">My-QR.art</a> is completely free
              to use and has no advertisements! You don't need to sign up or
              create an account. Simply create a QR code with the editor and
              share it with whomever you want! However, it costs money to host
              this site, so sadly at this point I can't guarantee your QR codes
              will work forever.</p>

            <h1>Who made this?</h1>

            <p><a href="https://my-qr.art">My-QR.art</a> was made by me, Marien!
            You can check out some more of my work
            on <a href="https://marienraat.nl">my website</a>. I used and
            adapted some other software to create
            <a href="https://my-qr.art">My-QR.art</a>,
            notably <a href="https://www.djangoproject.com/">Django</a>,
            <a href="https://github.com/mnooner256/pyqrcode">pyqrcode</a> and
            <a href="https://github.com/rgab1508/PixelCraft">PixelCraft</a>. Furthermore
            the design of this page is based on the design
            of <a href="https://playcardswith.me">PlayCardsWith.Me</a>
            by <a href="https://invulns.nl">Jochem Raat</a>. License info can be
            found on te <a href="/copyright">copyright page</a>.
          </article>
        </main>
      </div>

      <footer>
        <a href="https://my-qr.art">My-QR.art</a> is free and open source
        software!  Report bugs or contribute
        at <a href="https://github.com/raatmarien/my-qr.art">the GitHub
        page</a>.
      </footer>
    </div>
  </body>
</html>
