{% load static %}
<html>
  <head>
    <title>My-Qr.art - Create custom QR codes for free!</title>
    <meta name="description" content="Design custom QR codes for free. With
                                      My-QR.art you can create QR codes that
                                      look like your logo, include your motto or
                                      anything else! These special custom
                                      designed QR codes will help you stand out
                                      and get more interaction with your QR codes.">

    <meta name="keywords" content="QR, QR code, custom QR code, custom QR,
                                      design, create, custom, branded, open
                                      source, free, art, QR art, my QR, my QR
                                      art">
    <meta name="author" content="Marien Raat">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'qr_app/css/style.css' %}">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <div class="welcome-page">
      <div class="welcome-text">
        <header>
          <img src="{% static 'qr_app/img/logo-text.png' %}"
               alt="MY-QR.ART Logo"
               class="logo"/>
        </header>

        <main>
          <form action="/editor" method="GET">
            <input class="design-button" type="submit" value="DESIGN QR">
          </form>

          <article class="explanation">

            <h1>What is it?</h1>

            <p>With <a href="https://my-qr.art">My-QR.art</a> you can make QR
            codes that look like <em>you</em> want them to
            look. <a href="https://my-qr.art">My-QR.art</a> uses a unique
            technique which allows you to change up to 80% of your QR code, when
            other solutions on the web only allow up to 30%. And you can still
            let your QR code go to any URL you want!</p>

            <p>By giving your QR code a recognisable design, you make your ad
            stand out and increase the chance that your QR code is scanned. For
            example you can make the QR code look like a black and white
            version of your logo. Or add a nice slogan in there!</p>

            <h1>What can I make?</h1>

            <p>Anything you want! For example, a QR code based on your
            logo. Here is one for this website, you can share it with your friends!</p>

            <img class="qr-image-example" src="{% static 'qr_app/img/my-qr.art-qr.png' %}"
                 alt="QR code to My-QR.art" />

            <p>Or even a scannable QR gif! Just design the frames in the editor,
            save them and merge them together with a gif maker tool, free ones
            can be found online!</p>

            <img class="qr-image-example" src="{% static 'qr_app/img/qr.gif' %}"
                 alt="Animated QR code that shows a horse running" />

            <h1>How does it work?</h1>

            <p>Open the QR designer by pressing the
            big <a href="/editor"><em>Design QR</em></a> button on the top of
            this page. There you can draw how you want the QR code to look, or
            simply upload any black and white image to set as the design. When
            you are done with your design, type in the URL for your QR code on
            the top of the page and press <em>Create QR</em>. The QR code will
            be generated for you in just a second and will work immediately!</p>

            <p>Please note though, that although QR codes are standardized, QR
            scanners are not. This website creates valid URLs, but some scanners
            might recognize it as an URL, possibly because of the length or the
            characters in it, so for some users the link might be presented as
            text.</p>

            <h1>How is this possible?</h1>

            <p>If you want to know the nitty-gritty technical details, here we
            go. Basically instead of simply creating a QR code from your URL, we
            create data that fits your design and points
            to <a href="https://my-qr.art/">https://my-qr.art</a>. Then we
            redirect this <a href="https://my-qr.art/">https://my-qr.art</a> to
            the URL you specified. This way the QR has your design but still
            leads the user wherever you want. Making this possible was not
            without its challenges, QR codes are quite complex! If you want to
            know more about how it works internally, check
            out <a href="https://marienraat.nl/hacking-qr-codes.html">my blog
            post</a>.</p>

            <h1>Is it free?</h1>

            <p>Yes! <a href="https://my-qr.art">My-QR.art</a> is completely free
              to use and has no advertisements! You don't need to sign up or
              create an account. Simply create a QR code with the editor and
              share it with whomever you want! However, it costs money to host
              this site, so sadly at this point I can't guarantee your QR codes
              will work forever. If you want this website to stay online and
              can spare the money, please donate using the button a bit further
              down the page.</p>

            <h1>How can I help?</h1>

            <p>If you like <a href="https://my-qr.art">My-QR.art</a>, you can
            help in a number of
            ways. Share <a href="https://my-qr.art">My-QR.art</a> with your
            friends and family
            or <a href="https://github.com/raatmarien/my-qr.art">star the
            repository on GitHub</a> to spread the word. You can also give
            comments or contribute
            on <a href="https://github.com/raatmarien/my-qr.art">GitHub</a> or
            <a href="mailto:contact@marienraat.nl">email me</a> if you'd rather not
            post publicly, or just want to say thanks.</p>

            <p>I'm sharing and hosting <a href="https://my-qr.art">My-QR.art</a>
            completely for free, so everyone can enjoy it. However, if you can
            spare the money and want to show your appreciation, I'd greatly
            appreciate it if you donate using the button below, to help pay the
            hosting costs and help me add more cool features.</p>

            <form action="https://www.paypal.com/donate" method="post" target="_top">
              <input type="hidden" name="hosted_button_id" value="AWTMSKS5U25UQ" />
              <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
              <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
            </form>

            <h1>Who made this?</h1>

            <p><a href="https://my-qr.art">My-QR.art</a> was made by me, Marien!
            You can check out some more of my work
            on <a href="https://marienraat.nl">my website</a>. I used and
            adapted some other software to create
            <a href="https://my-qr.art">My-QR.art</a>,
            notably <a href="https://www.djangoproject.com/">Django</a>,
            <a href="https://github.com/mnooner256/pyqrcode">pyqrcode</a> and
            <a href="https://github.com/rgab1508/PixelCraft">PixelCraft</a>. Furthermore
            the design of this page is based on the design
            of <a href="https://playcardswith.me">PlayCardsWith.Me</a>
            by <a href="https://invulns.nl">Jochem Raat</a>. License info can be
            found on the <a href="/copyright">copyright page</a>.
          </article>
        </main>
      </div>

      <footer>
        <div class="footer-content">
          <a href="https://my-qr.art">My-QR.art</a> is free and open source
          software!  Report bugs or contribute
          at <a href="https://github.com/raatmarien/my-qr.art">the GitHub
            page</a>.
        </div>
      </footer>
    </div>
    <script src="https://getinsights.io/js/insights.js"></script>
    <script>
      insights.init('Qrc5rghVfW5arCJL');
      insights.trackPages();
    </script>
  </body>
</html>
