{% load static %}
<html>
  <head>
    <title>My-Qr.art - Your custom QR code</title>
    <meta name="author" content="Marien Raat">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'qr_app/css/style.css' %}">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <div class="welcome-page">
      <div class="welcome-text">
        <header>
          <a href="/">
            <img src="{% static 'qr_app/img/logo-text.png' %}"
                 alt="MY-QR.ART Logo"
                 class="logo"/>
          </a>
        </header>

        <main>
          <article class="explanation">

            <h1>Here's your QR code!</h1>

            <div class="qr-placeholder">
              <img class="qr-image" src="{{ qr_image }}"
                   alt="Your QR code" width="100%" />
            </div>

            <div class="donation">
              <p>This QR code is completely free! Use it however you want and
              share it with whomever you want. However, if you can spare the
              money, it would be greatly appreciated if you could support the
              site by donating using the button below. It helps cover the
                hosting costs and allows me to add new cool features.</p>

              <form action="https://www.paypal.com/donate" method="post" target="_top">
                <input type="hidden" name="hosted_button_id" value="AWTMSKS5U25UQ" />
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
              </form>
            </div>

            <h1>What do I do?</h1>

            <p>On the top of the page is your custom QR code. Try to scan it, share it with your
            friends, or save it to your computer, by left clicking on the QR code and choosing 'Save
            image as' (or equivalent). On phones it might work a bit differently. In worst case
            scenario, simply take a screenshot of the code.</p>

            <h1>Where does my QR code go?</h1>

            <p>Your QR code leads to <a href="{{ qr_url }}">{{ qr_url }}</a>. If you
            scan the QR code you should be redirected to there.</p>

            <h1>Can I also have it in vector formats?</h1>

            <p>Of course! You can get your QR code <a href="{{ qr_image_svg }}">in SVG format
            here</a> or <a href="{{ qr_image_eps }}">in EPS format here</a>. You might need to right
            click these images and select "Save link as" to save them to your computer. If you need
            any other format, you can probably use any online converter from the SVG format to
            whatever you want!</p>

            <h1>Can I make another one?</h1>

            <p>Of course, just <a href="/editor">click here to get back to the editor</a></p>
            
            <h1>Can I get back to the home page?</h1>

            <p>Yes, click on the big 'My-QR.art' logo on the top of this page, or simply
            click <a href="/">here</a>.</p>

            <h1>Who made this?</h1>

            <p>Well, you made this beautiful QR code, but the coding
            of <a href="https://my-qr.art">My-QR.art</a> was done by me,
            Marien. You can check out some more of my work
            on <a href="https://marienraat.nl">my website</a>. I used and
            adapted some other software to create
            <a href="https://my-qr.art">My-QR.art</a>,
            notably <a href="https://www.djangoproject.com/">Django</a>,
            <a href="https://github.com/mnooner256/pyqrcode">pyqrcode</a> and
            <a href="https://github.com/rgab1508/PixelCraft">PixelCraft</a>. Furthermore
            the design of this page is based on the design
            of <a href="https://playcardswith.me">PlayCardsWith.Me</a>
            by <a href="https://invulns.nl">Jochem Raat</a>. License info can be
            found on the <a href="/copyright">copyright page</a>.
          </article>
        </main>
      </div>

      <footer>
        <div class="footer-content">
          <a href="https://my-qr.art">My-QR.art</a> is free and open source
          software!  Report bugs or contribute
          at <a href="https://github.com/raatmarien/my-qr.art">the GitHub
            page</a>.
        </div>
      </footer>
    </div>
    <script src="https://getinsights.io/js/insights.js"></script>
    <script>
      insights.init('Qrc5rghVfW5arCJL');
      insights.trackPages();
    </script>
  </body>
</html>
