{% load static %}
<html>
  <head>
    <title>My-QR.art - QR editor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'qr_editor/js/Matrix.js' %}" async></script>
    <script src="{% static 'qr_editor/js/Shapes.js' %}" async></script>
    <script src="{% static 'qr_editor/js/Transformation.js' %}" async></script>
    <script src="{% static 'fontawesome_free/js/all.min.js'%}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'qr_editor/js/main.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'qr_editor/css/style.css' %}">
  </head>
  <body>
    <div class="menubtn">☰</div>
    <ul class="menu">
    </ul>
    <div id="popup">
      {% csrf_token %}
      <h3>Select the size of the QR code</h3>
      <input type="number" id="version" value="10" min="1" max="40"> Version
      <button id="close">OK</button>
    </div>
    <div id="frames" onblur="Frames.close()" tabindex="0">
      <div class="btn" style="left: 10px;" onclick="document.querySelector('#frames #gallery').scrollLeft-=100;"><i class="fa fa-chevron-left"></i></div>
      <div class="btn" style="right: 10px;" onclick="document.querySelector('#frames #gallery').scrollLeft+=100;"><i class="fa fa-chevron-right"></i></div>
      <div id="gallery"></div>
    </div>
</div>
<canvas id="canvas"></canvas>
<div id="toolbar">
  <span class="item" onclick="board.setcolor([0, 0, 0, 255])" style="background-color: black;"></span>
  <span class="item" onclick="board.setcolor([255, 255, 255, 255])" style="background-color: white;"></span>
  <span class="item tool-item" onclick="board.setmode(0)" style="background-color: grey;"><i class="fas fa-pencil-alt"></i></span>
  <span class="item tool-item" onclick="board.setmode(1)"><i class="fas fa-fill"></i></span>
  <span class="item tool-item" onclick="board.undo()"><i class="fas fa-undo"></i></span>
  <span class="item tool-item" onclick="board.redo()"><i class="fas fa-redo"></i></span>
  <span class="item tool-item" onclick="newProject()"><i class="fas fa-trash"></i></span>
  <span class="item tool-item" onclick="board.addImage()"><i class="fa fa-upload"></i></span>
</div>
<div id="palette"></div>

<img id="qr-result"></img>

<div class="create-buttons">
  {% csrf_token %}
  <input type="url" id="to-url" placeholder="QR URL"></input>
  <button id="create-qr">Create QR code</button>
</div>
</body>
</html>
